header {
	height: 78px;
	background-color: #8000FF;
}
.img-logo{
	height: 213px;
	background-color:#f307bb;

}
.logo{
	width: 700px;
	height: 213px;
	position: relative;
	left: 265px;
	bottom: 0;
}
.row3 .six, .row3 .three {
	height: 200px;
	background-color: #8000FF;
}
.row4 .three, .row4 .six{
	height: 200px;
	background-color:#f307bb;
}
.row5 .three{
	height: 200px;
	background-color: #8000FF;
}

