/*imagen de fondo*/
body{
	
	background-image: url(https://67.media.tumblr.com/ae8786e15c0ef723f40c9ce5d69552f2/tumblr_o9sqa0j7Rq1uk58d3o3_1280.jpg);
}
/*selectores nos permiten indicar a quién le haremos los cambios*/
/* "*"este es un selector universal */
h1 {
	color:#4C0B5F;
}
p{

font-size: 20px;
color:#4C0B5F;
}
/*selectores descendentes*/
p a {
	font-size: 20px;
	color: blue;
}
/*clases*/
.page-wrapper { 
	background: #FFE5FD; 
    padding: 0 50px 0 50px;  
	margin: 0; 
	position: relative;
}
